#Requirements

1.  Input the data
2. Create a new field which would break down milliseconds into seconds and minutes
e.g. 208,168 turned into minutes would be 3.47min
3. Extract the year from the timestamp field
4. Rank the artists by total minutes played overall
For each year, find the ranking of the artists by total minutes played
5. Reshape the data so we can compare how artist position changes year to year
6. Filter to the overall top 100 artists
7. Output the data

Import libraries

In [ ]:
import pandas as pd
import numpy as np

Mount my Google Drive to be able to read the data directly

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##1. Read the data into a Pandas dataframe

In [ ]:
df = pd.read_csv('/content/drive/My Drive/PreppinData/Spotify Data Unclean.csv')
df.head()

,Document Index (generated),conn_country,Album Name,Artist Name,Track Name,ms_played,reason_end,reason_start,shuffle,skipped,spotify_track_uri,ts
0,1,GB,Finding Beauty In Negative Spaces,Seether,FMLYHM,208186,trackdone,trackdone,False,False,spotify:track:00zqxeyUURvqow9EdDMm8v,2016-02-03T17:46:42Z
1,2,GB,Drama Boy (B&E Redo),Beissoul & Einius,Drama Boy (B&E Redo) - Radio Edit,203738,trackdone,trackdone,False,NaN,spotify:track:1RiZrXXQMiLRACutTZwgUt,2019-11-11T08:03:03Z
2,3,GB,All This Time,The Beta Machine,The End,247265,trackdone,fwdbtn,False,NaN,spotify:track:65UEYdVQt67GikVCqiMYT6,2021-11-17T09:17:32Z
3,4,GB,Weezer (White Album),Weezer,King of the World,204480,trackdone,trackdone,False,NaN,spotify:track:5vBuxtwitUimHR2gBOnJYR,2016-07-05T20:04:26Z
4,5,GB,Drama Boy (B&E Redo),Beissoul & Einius,Drama Boy (B&E Redo) - Radio Edit,203738,trackdone,trackdone,True,NaN,spotify:track:1RiZrXXQMiLRACutTZwgUt,2019-11-16T11:06:24Z

####Quick data exploration

In [ ]:
#number of rows and columns in dataset
df.shape

(15921, 12)

In [ ]:
#check the data types for each column
df.dtypes

Document Index (generated)     int64
conn_country                  object
Album Name                    object
Artist Name                   object
Track Name                    object
ms_played                      int64
reason_end                    object
reason_start                  object
shuffle                         bool
skipped                       object
spotify_track_uri             object
ts                            object
dtype: object

##2. Convert milliseconds to minutes, seconds
We are transforming the milliseconds integer column to minutes with two decimals

In [ ]:
#attempted to use timedelta - you can ignore this row: df['time_played'] = pd.to_timedelta(df['ms_played'], unit='ms').round('1s')
df['time_played'] = np.round(df['ms_played']/60000,2)
df.head()

,Document Index (generated),conn_country,Album Name,Artist Name,Track Name,ms_played,reason_end,reason_start,shuffle,skipped,spotify_track_uri,ts,time_played
0,1,GB,Finding Beauty In Negative Spaces,Seether,FMLYHM,208186,trackdone,trackdone,False,False,spotify:track:00zqxeyUURvqow9EdDMm8v,2016-02-03T17:46:42Z,3.47
1,2,GB,Drama Boy (B&E Redo),Beissoul & Einius,Drama Boy (B&E Redo) - Radio Edit,203738,trackdone,trackdone,False,NaN,spotify:track:1RiZrXXQMiLRACutTZwgUt,2019-11-11T08:03:03Z,3.40
2,3,GB,All This Time,The Beta Machine,The End,247265,trackdone,fwdbtn,False,NaN,spotify:track:65UEYdVQt67GikVCqiMYT6,2021-11-17T09:17:32Z,4.12
3,4,GB,Weezer (White Album),Weezer,King of the World,204480,trackdone,trackdone,False,NaN,spotify:track:5vBuxtwitUimHR2gBOnJYR,2016-07-05T20:04:26Z,3.41
4,5,GB,Drama Boy (B&E Redo),Beissoul & Einius,Drama Boy (B&E Redo) - Radio Edit,203738,trackdone,trackdone,True,NaN,spotify:track:1RiZrXXQMiLRACutTZwgUt,2019-11-16T11:06:24Z,3.40

## 3. Extract the year from timestamp

*   We first need to convert the **ts** column to datetime
*   After that we can use the 'dt' attribute to extract dateparts

In [ ]:
df['ts'] = pd.to_datetime(df['ts'])
df['year'] = df['ts'].dt.year
df.head()

,Document Index (generated),conn_country,Album Name,Artist Name,Track Name,ms_played,reason_end,reason_start,shuffle,skipped,spotify_track_uri,ts,time_played,year
0,1,GB,Finding Beauty In Negative Spaces,Seether,FMLYHM,208186,trackdone,trackdone,False,False,spotify:track:00zqxeyUURvqow9EdDMm8v,2016-02-03 17:46:42+00:00,3.47,2016
1,2,GB,Drama Boy (B&E Redo),Beissoul & Einius,Drama Boy (B&E Redo) - Radio Edit,203738,trackdone,trackdone,False,NaN,spotify:track:1RiZrXXQMiLRACutTZwgUt,2019-11-11 08:03:03+00:00,3.40,2019
2,3,GB,All This Time,The Beta Machine,The End,247265,trackdone,fwdbtn,False,NaN,spotify:track:65UEYdVQt67GikVCqiMYT6,2021-11-17 09:17:32+00:00,4.12,2021
3,4,GB,Weezer (White Album),Weezer,King of the World,204480,trackdone,trackdone,False,NaN,spotify:track:5vBuxtwitUimHR2gBOnJYR,2016-07-05 20:04:26+00:00,3.41,2016
4,5,GB,Drama Boy (B&E Redo),Beissoul & Einius,Drama Boy (B&E Redo) - Radio Edit,203738,trackdone,trackdone,True,NaN,spotify:track:1RiZrXXQMiLRACutTZwgUt,2019-11-16 11:06:24+00:00,3.40,2019

## 4. Aggregate by artists and rank them overall
First, we need to keep only the relevant columns to compute the totals. We will use a new dataframe 'ar' to keep the Overall Rank

In [ ]:
ar = df[['Artist Name','time_played']]

We then need to sum up and sort by time played for each artist across all years

In [ ]:
ar = ar.groupby(['Artist Name']).sum().rank(method='dense',ascending=False).astype(int).rename(columns={"time_played": "Overall Rank"})
ar.sort_values(by='Overall Rank').head()

                         Overall Rank
Artist Name
Shinedown                           1
Eminem                              2
ONE OK ROCK                         3
Five Finger Death Punch             4
Seether                             5

## 5. Rank the artist by minutes played each year
First we keep only the relevent columns and sum up time played by artist each year

In [ ]:
df = df[['Artist Name','year','time_played']]
df = df.groupby(['Artist Name','year']).sum()

We then compute the yearly rankings and add them to the dataframe

In [ ]:
df['rank'] = df.groupby('year').rank(method='first',ascending=False).astype(int)
df.drop(['time_played'],axis=1,inplace=True)
df.head()

                         rank
Artist Name        year
'Til Tuesday       2019   161
(K)NoW_NAME        2021   187
04 Limited Sazabys 2019   692
10 Years           2015    99
                   2016   265

##6. Pivot the years to columns

In [ ]:
#df = df.unstack('year')
#df.columns = df.columns.get_level_values(1) #keep only one index level in header
df = df.reset_index().pivot(columns='year', index='Artist Name', values='rank')
df.head()

year                2015   2016   2017  2018   2019  2020   2021  2022
Artist Name
'Til Tuesday         NaN    NaN    NaN   NaN  161.0   NaN    NaN   NaN
(K)NoW_NAME          NaN    NaN    NaN   NaN    NaN   NaN  187.0   NaN
04 Limited Sazabys   NaN    NaN    NaN   NaN  692.0   NaN    NaN   NaN
10 Years            99.0  265.0  119.0   NaN  501.0  80.0  781.0   NaN
12 Stones            NaN    NaN  244.0   NaN    NaN   NaN    NaN   NaN

##7. Filter to the top 100 artists
Let's bring in the previously computed overall ranks from the **ar** dataframe and filter to the top 100 artists

In [ ]:
df = ar.merge(df,left_index=True,right_index=True).nsmallest(100,'Overall Rank')
df = df.reset_index().set_index(['Overall Rank','Artist Name']) #have rank and artist name as first and second columns
df.head()

,,2015,2016,2017,2018,2019,2020,2021,2022
Overall Rank,Artist Name,,,,,,,,
1,Shinedown,1.0,7.0,4.0,14.0,66.0,23.0,367.0,335.0
2,Eminem,82.0,1.0,5.0,9.0,3.0,2.0,52.0,NaN
3,ONE OK ROCK,12.0,3.0,1.0,3.0,4.0,206.0,241.0,NaN
4,Five Finger Death Punch,334.0,4.0,3.0,2.0,6.0,4.0,100.0,NaN
5,Seether,4.0,6.0,24.0,119.0,34.0,49.0,134.0,NaN

##8. Output the data

In [ ]:
df.to_csv('/content/drive/My Drive/PreppinData/Spotify Data Cleaned.csv')